.btn h1{
    text-align: center;
}
.btn h2{
    text-align: center;
}
.btn h3{
    text-align: center;
}
.btn h4{
    text-align: center;
}
.btn h5{
    text-align: center;
}
.btn h6{
    text-align: center;
}